<!DOCTYPE html>
<html lang="pt-BR">
<head>
{% include "seo_head.html" %}
<link rel="stylesheet" href="screen.css">
<style>
body{counter-reset:h1 0}
</style>
<script type="text/x-mathjax-config">
  MathJax.Hub.Config({tex2jax: {inlineMath: [['$','$'], ['\\(','\\)']]}});
</script>
<script type="text/javascript"
  src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.1/MathJax.js?config=TeX-AMS-MML_HTMLorMML">
</script>
<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "Chapter",
  "name": "Epílogo e Apólogo",
  "isPartOf": {
    "@type": "Book",
    "name": "Cálculo Tornado Fácil",
    "url": "{{ site_url }}/"
  },
  "author": {"@type": "Person", "name": "Silvanus P. Thompson"},
  "translator": {"@type": "Person", "name": "Thales Rodrigues"},
  "url": "{{ site_url }}/epilogue.html",
  "inLanguage": "pt-BR",
  "isAccessibleForFree": true
}
</script>
</head>
<body>
{% include "toolbar.html" %}

<h1><br>Epílogo e Apólogo</h1>
<p class="a rotatedFloralHeartBullet">


<p>Pode-se assumir com confiança que quando este
tratado “Cálculo Tornado Fácil” cair nas mãos dos
matemáticos profissionais, eles (se não estiverem
preguiçosos demais) se erguerão como um só homem, e
o condenarão como um livro absolutamente mau. Disso
não pode haver, do ponto de vista deles, a menor
dúvida possível. Ele comete vários erros gravíssimos
e deploráveis.

<p>Primeiro, mostra quão ridiculamente fáceis a
maioria das operações do cálculo realmente são.

<p>Segundo, entrega tantos segredos do ofício. Ao
mostrar que <em>o que um tolo consegue, outros tolos
também conseguem</em>, deixa você ver que esses
magnatas da matemática, que se orgulham de ter
dominado um assunto tão terrivelmente difícil como
o cálculo, não têm assim tão grande razão para se
encher de importância. Gostam que você pense quão
terrivelmente difícil ele é, e não querem que essa
superstição seja rudemente dissipada.

<p>Terceiro, entre as coisas terríveis que dirão
sobre “Tão Fácil” está isto: que há um absoluto
fracasso da parte do autor em demonstrar com

rigidez e completude satisfatórias a validade de
vários métodos que ele apresentou de modo simples, e
até <em>ousou usar</em> para resolver problemas! Mas por
que não deveria? Você proíbe o uso de um relógio a
toda pessoa que não saiba fabricar um? Você se
opõe a que o músico toque um violino que ele mesmo
não construiu? Você não ensina as regras de
sintaxe às crianças até que elas já tenham se
tornado fluentes no <em>uso</em> da fala. Seria igualmente
absurdo exigir que demonstrações gerais rígidas
fossem expostas a principiantes no cálculo.

<p>Uma outra coisa dirão os matemáticos oficiais
sobre este livro absolutamente mau e vicioso: que a
razão pela qual ele é <em>tão fácil</em> é porque o autor
deixou de fora todas as coisas que são realmente
difíceis. E o fato pavoroso sobre essa acusação é
que - <em>é verdade!</em> É, de fato, por isso que o
livro foi escrito - escrito para a legião de
inocentes que até agora foram dissuadidos de
adquirir os elementos do cálculo pelo modo estúpido
em que seu ensino é quase sempre apresentado.
Qualquer assunto pode ser tornado repulsivo ao
apresentá-lo eriçado de dificuldades. O objetivo
deste livro é permitir aos principiantes aprender
sua linguagem, adquirir familiaridade com suas
simplicidades cativantes, e apreender seus poderosos
métodos de resolver problemas, sem ser obrigados a
labutar pelas intrincadas ginásticas matemáticas
desviantes (e na maioria irrelevantes) tão caras ao
matemático imprático.


<p>Há entre os jovens engenheiros um número sobre
cujos ouvidos o adágio de que <em>o que um tolo
consegue, outro também consegue</em>, pode cair com
som familiar. Pede-se-lhes com empenho que não
entreguem o autor, nem digam aos matemáticos que
tolo ele realmente é.


<hr>
<nav class="chapter-nav" aria-label="Navegação do capítulo">
  <a class="nav-prev" href="21.html">← Anterior</a>
  <a class="nav-home" href="index.html">Página principal</a>
  <a class="nav-next" href="table.html">Próximo →</a>
</nav>
{% include "footer.html" %}

<script src="j/jquery.js"></script>
<script src="j/modernizr.js"></script>
<script src="j/dih5.js"></script>
<script src="j/notes-toggle.js"></script>
{%include "googleanalytics.html" %}
</body>
</html>
